<!DOCTYPE html>
<html lang="es">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>API de Red Social</title>
 <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
 <h1>Información de la API de Red Social</h1>
 <button id="botonUsuarios">Ver Usuarios</button>
 <button id="botonPublicaciones">Ver Publicaciones</button>
 <div id="usuarios">
 <!-- Aquí se mostrarán los usuarios -->
 </div>
 <div id="publicaciones">
    <!-- Aquí se mostrarán las publicaciones -->
    </div>
    <script src="/js/scripts.js"></script>
   </body>
   </html>
   